body {
    background-color: tan;
    margin: 0px;
}

.top {
    position: absolute;
    padding: 250px;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);  
    font-size: small;
}

.top h1 {
    color: burlywood;
}

.top h2 {
    color: burlywood;
    font-size: x-large;
}

.middle {
    margin: 3cm auto 3cm;
    width: 550px;
    text-align: center;

}
.middle h2 {
    font-family: 'Roboto';
    font-size: 50px;

}
.middle h3 {
    font-family: 'Roboto';
    font-size: large;

}
.div-images {
    border-radius: 8px;
    border: solid black;
}
.div-images1 {
    border: solid red;
    border-radius: 250px
}
.bottom {
  
  background-color: #4B5320 ;
  
    text-align: center;
}
.bottom hr {
  margin: 50px auto 50px auto ;
  width: 550px;
  position: rlative;
  
}
.bottom p {
  font-size: 15px;
  font: italic;
}
.bottom h3 {
    font-family: 'Roboto';
    font-size: xx-large;

}

.image-column-left {
    display: inline-block;
    width: auto;
    text-align: cenrter;
}
.image-column-left1 {
    display: inline-block;
    width: 45%;
    text-align: right;
}

.image-column-right {
    width: 50%;
    text-align: left;
    float: right;
    font-weight: bold;
}


.tag {
  text-align: left;
  
}
.tag dt  {
    text-align: left;
    font-weight: bold;
    
  }
  .tag dd{
    text-align: left;
    font-weight: bold;
    
  }
.tag1 {
  text-align: left;
}
.tag1 dt {
    text-align: left;
    font-weight: bold;
  }




.skills-image {
  display: inline-block;
    width: 20%;
    text-align: right;
    padding-bottom: 40px;
    margin-right: -300px;
}

.skills-column {
  
  width: 75%;
  text-align: left;
  
  float:right;

  margin-top: -150px;
  
 margin-left: -200px;
 
}

h1 {
    font-family: 'Italiana';
    font-size: 5.8em;
    color: purple;
}

a {
    text-decoration: none;
    color: burlywood;
}
a:hover {
    background-color: black;
}
hr {
    border: 3px dashed burlywood;

}
ul {
    list-style-type: none ;
    
}

.profile {
    display: block;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 8px;
    
}

.button {
    background-color: transparent;
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    font-size: 36px;
    position: relative;
    top: -20px;

}
.bottom1 {
    text-align: center;
}


